body {
    margin: 0;
    overflow: hidden;
    background-color:#F7F7F9;
}

.main {
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.main img {
    position: absolute;
}

.userbg {
    left: 78%;
}

.userimg{
    left: 80vw; 
    top: 1.5vh;
}
#displayName {
    position: absolute;
    font-size: 3vw;
    left: 88vw;
    top: -2vh;
}
#displayRoomNumber {
    position: absolute;
    font-size: 3vw;
    left: 88.5vw;
    top: 4vh;
}
.bgup {
    width: 39%;
    left: 0%;
}
.bgdowm {
    width: 47%;
    left: 57%;
    margin-top: 34%;
}
.logo {
    top: 0%;
    left: 2%;
    z-index: 2;
}

.wash {
    margin-top: 3%;
    left: 11%;
}

.washmachine-container {
    position: relative;
    width: 85%;
    height: 85%;
    justify-content: space-between;
    display:flex;
  }
  
.washmachine {
    position: absolute;
    width: 10%; 
    height: auto; 
  }
  #w1 { top: 14vh; left: 14.5vw; }
  #w2 { top: 33vh; left: 14.5vw; }
  #w3 { top: 55vh; left: 14.5vw; }
  #w4 { top: 77vh; left: 14.5vw; }
  #w5 { top: 14vh; left: 34vw; }
  #w6 { top: 33vh; left: 34vw; }
  #w7 { top: 55vh; left: 34vw; }
  #w8 { top: 77vh; left: 34vw; }
  .drymachine-container {
    position: relative;
    width: 85%;
    height: 85%;
    justify-content: space-between;
    display: flex;
  }
  
  .drymachine {
    position: absolute;
    width: 10%;
    height: auto;
  }
  
  #d1 { top: 29vh; left: 57vw; }
  #d2 { top: 29vh; left: 67.5vw; }
  #d3 { top: 29vh; left: 78vw; }
  #d4 { top: 70vh; left: 57vw; }
  #d5 { top: 70vh; left: 67.5vw; }
  #d6 { top: 70vh; left: 78vw; }
  

  
.dry {
    left: 53%;
    margin-top: 12%;
}
#clock{
    position: absolute;
    top: -2vh;
    left: 56vw;
    font-size: 500%;
}
.logout{
   margin-top: 47%;
   left: 4%;
}
